.start {
    fill: #C5E7C4;
    stroke: #47B352;
    stroke-width: 2;
}

.assignment {
    fill: #C5E7C4;
    stroke: #47B352;
    stroke-width: 2;
}
.assignment text {
    font-size: 11px;
    font-family: Arial;
    stroke-width: 0;
}

.end {
    fill: #F9BEBF;
    stroke: #EC3843;
    stroke-width: 2;
}

.edge {
    fill: none;
    stroke: rgb(134, 142, 142);
    stroke-width: 1;
    stroke-miterlimit: 10;
}
.edge text {
    font-size: 11px;
    font-family: Arial;
    stroke-width: 0;
    fill: red;
}
