.start {
    fill: #C5E7C4;
    stroke: #47B352;
    stroke-width: 2;
}

.assignment {
    fill: #C5E7C4;
    stroke: #47B352;
    stroke-width: 2;
}
.assignment text {
    font-size: 11px;
    font-family: Arial;
    stroke-width: 1;
}

.end {
    fill: #F9BEBF;
    stroke: #EC3843;
    stroke-width: 2;
}

