{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "canvg": false,
    "jsCanvas": false
  },

  "extends": "standard",

  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": 0
  }
}
